body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 16px;
}
 
nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
 
nav a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, padding 0.3s, border-width 0.3s;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid transparent;
}
 
nav a.logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}
 
nav a.logo img {
    max-width: 63px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
}
 
nav .nav-links {
    display: flex;
}
 
nav .nav-links a {
    margin: 0 40px;
}
 
nav a.current {
    border-bottom: 3px solid #fff;
}
 
nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-bottom: 6px solid #fff;
}
 
.back {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://wallpapers.com/images/featured-full/tree-0wdwtdt9xzcm91b1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
.back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
 h2{
    font-size: 30px;
 }
.back img {
    display: none;
}
 
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.content-text {
    text-align: center;
    padding: 50px;
    color: white;
}
 
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 25px;
}
 
.fade-in-animation {
    opacity: 1;
}
.footer-content {
    max-width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
 
.footer-content p {
    margin: 5px 0;
}
 
.rtext {
    text-align: right;
}
 
.ctext {
    text-align: center;
}
 
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    z-index: 1000;
    filter: brightness(0.5);
}
.team-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #0c0c0c;
}
 
.team-members {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
 
.team-member {
    flex: 0 1 25%;
    max-width: 250px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
}
 
.member-box {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    flex: 0 1 calc(25% - 20px);
    max-width: 250px;
    font-size: 20px;
}
 
.team-member:nth-child(odd) .member-box {
    background-color: rgba(50, 50, 50, 0.8);
}
 
.team-member:nth-child(even) .member-box {
    background-color: rgba(80, 80, 80, 0.8);
}
 
.team-member img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}