body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background color for higher contrast */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding */
}

nav a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, padding 0.3s, border-width 0.3s;
    padding: 10px 20px; /* Fixed padding for links */
    border: 3px solid transparent; /* Transparent border to compensate for hover padding increase */
}

nav a.logo {
    font-size: 30px; /* Adjust font size */
    display: flex;
    align-items: center;
}

nav a.logo img {
    max-width: 80px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
}

nav .nav-links {
    display: flex;
}

nav .nav-links a {
    margin: 0 60px; /* Increase distance between navbar links */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light background color on hover for contrast */
    padding: 15px 25px; /* Increase padding on hover */
    border-width: 6px; /* Increase border width on hover */
}
.back {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px) brightness(0.3);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-text {
    text-align: center;
    padding: 50px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in-animation {
    opacity: 1;
}